.edanmaku-unit{
	position: relative;
	overflow: hidden;
}

.edanmaku-video{
	position: absolute;
}

.edanmaku-text{
	opacity: 0;
	height: 30px;
	z-index: 9999;
	position: absolute;
	bottom: 40px;
	transition: opacity .5s ease-in-out;
	-webkit-transition: opacity .5s ease-in-out;
}

.edanmaku-control{
	z-index: 9999;
	opacity: 0;
	height: 40px;
	position: absolute;
	bottom: 0px;
	background-color: #000;
	transition: opacity .5s ease-in-out;
	-webkit-transition: opacity .5s ease-in-out;
}

.edanmaku-control .button{
	z-index: 999;
	width: 40px;
	height: 40px;
	background-image: url(play.png);
	background-size: cover;
	float: left;
	transition: background-color .2s ease-in-out;
	-webkit-transition: background-color .2s ease-in-out;	
}

.edanmaku-control .button:hover{
	background-color: #6cf;
}

.edanmaku-control .progress{
	height: 40px;
	float: left;
	opacity: 0.9
}

.edanmaku-control .progress:hover{
	opacity: 1;
}

.edanmaku-control .progress .bar{
	height: 40px;
	position: absolute;
	top: 0;
	background-color: #09c;
}

.edanmaku-control .progress .darkbar{
	height: 40px;
	background-color: #4399ee;
	opacity: 0.4;
}

.edanmaku-control .commentShow{
	width: 40px;
	height: 40px;
	float: left;
	background-image: url(danmaku.png);
	background-size: cover;
	transition: background-color .2s ease-in-out;
	-webkit-transition: background-color .2s ease-in-out;
}

.edanmaku-control .commentShow:hover{
	background-color: #6cf;
}

.edanmaku-control .fullscreen{
	width: 40px;
	height: 40px;
	float: left;
	background-image: url(fullscreen.png);
	background-size: cover;
	transition: background-color .2s ease-in-out;
	-webkit-transition: background-color .2s ease-in-out;
}

.edanmaku-control .fullscreen:hover{
	background-color: #6cf;
}

iframe{
	height: 100%;
}

#sendMessage{
	height: 30px;
	background-color: #09c;
	float: right;
	text-align: center;
	color: white;
	font-family: "SimHei";
	line-height: 2;
	cursor: pointer;
}